span
    p Ingrese su mail
input(type="email", name="usuario", id="usuario")

span 
    p Mensaje 
input(type="text", name="mensaje", id="mensaje")

div(id="container-chat" style={"border": "solid 10px", "margin-top":"40px"})
    
