doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Iniciar Sesion 
    body 
        h1 Iniciar Sesion 
        form(id='registroUser')
            h2 Ingrese sus datos 
            label Nombre 
            input(name='Nombre')
            label Contraseña 
            input(type='password' name='Contraseña')
            button(id="registrar") Iniciar Sesion 

        script(src='registrar.js')