doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="index.css")
        title Impresoras
    body 
        h2 Productos
        div(class="contenedor")
            each imp in objetos
                div(class="contenedor-objetos")
                    h3='Titulo: '+imp.titulo
                    p='Precio: $'+imp.precio
                    img(src=imp.imagen, alt="fotoProducto", class="img-prod")

        div(class="chat")
            h2 El Chat
            include chat.pug

        script(src="/socket.io/socket.io.js") 
        script(type="text/javascript" src="index.js")