doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="index.css")
        title Impresoras
    body 
        h2 Productos
        button(class="btn", id='sesion') Crear Cuenta
        button(class="btn", id='entrar') Iniciar Sesion
        div(class="contenedor")
            each imp in objetos
                div(class="contenedor-objetos")
                    img(src='/uploads/'+imp.Imagen.split(',')[0], alt="foto",class='img')
                    h3='Titulo: '+imp.Nombre
                    p='Precio: $'+imp.Precio


        script(src="paginicial.js") 