body {
    text-align: center;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 98%;
    height: 100%;
    background-color: tomato;
}

.contenedor-objetos{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    align-items: center;
    justify-content: center;
}

.img-prod{
    height: 180px;
    width: 180px;
}

.contenedor-formulario{
    display: flex;
    width: 100%;
    height: 99%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color:#E69419;
}

.campo-texto{
    display: flex;
    width: 70%;
    border-radius: .25rem;
}
.contenedor-img{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.mostrarImg{
    width: 90px;
    height: 90px;
    margin: .25rem .5rem;
}